.page {
  background-color: #2a2c2f;
  color: #fff;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .page {
    width: 100%;
  }
}
