.places {
  display: grid;
  column-gap: 40px;
  row-gap: 48px;
  grid-template-columns: 0.8fr 1fr;
  grid-template-rows: min-content min-content 1fr;
  margin: 80px 0 0 0;
  padding: 0;
}

.places:first-child {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .places {
    column-gap: 28px;
  }

  .places:first-child {
    margin: 0;
  }
}

@media screen and (max-width: 520px) {
  .places {
    row-gap: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin-top: 50px;
  }

  .places:first-child {
    margin: 0;
  }
}
