.places__image {
  width: 460px;
  height: 460px;
  max-width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .places__image {
    max-height: 340px;
    object-fit: cover;
  }
}

@media screen and (max-width: 320px) {
  .places__image {
    max-height: 320px;
  }
}
